/* место для вашего кода */

.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    justify-content: flex-start;
    align-items: center;
    max-width: 1100px;
    padding: 93px 24px 0 24px;
    margin-bottom: 92px;
}

.header__menu {
    padding-left: 26.52px;
    /* display: flex;
    flex-direction: row; */
    /* justify-content: first baseline;
    align-items: center; */
}

.header__menu-list {
    display: flex;
    gap: 32px;
    list-style: circle;
    /* nav-left: 13px;
    nav-right: 11px; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* padding-right: 26.52px; */
}

.header__menu-item {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
}

.header__menu-item_not_active {
    list-style: none;
    /* margin-left: 26px; */
    /* padding-right: 26.52px; */
}

.header__menu-item_active {
    display: flex;
    /* flex-direction: column; */
    /* gap: 32px; */
    /* padding-right: 32px; */
    text-underline-offset: 4px;
}

.header__menu-link {
    display: flex;
    flex-direction: column;
}

.header__logo-image {
width: 148px;
height: 105px;
/* border-left: 478px; */
}

.header__adress {
    display: flex;
    text-underline-offset: 4px;
}

.header__adress-item {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.18px;
    min-width: 240px;
    padding-left: 185px;
    margin-right: 26px;
    /* justify-content: end;
    align-items: end; */
}

.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: #000;
}

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1100px;
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.cover__title {
    margin-bottom: 135px;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: .3em;
    line-height: 1.15;
    color: #fff;
    text-transform: uppercase;
    z-index: 1;
}

.letter-spacing_additional {
    letter-spacing: .6em;
}

.letter-spacing_non {
    letter-spacing: 0;
}

.aligned-text {
    display: block;
    line-height: 1;
    margin-top: 20px;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: end;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 79px;
    color: #fff;
    z-index: 1;
}

.cover__description-text {
    font-size: 22px;
    line-height: 28px;
    word-spacing: .85em;
    text-transform: uppercase;
    padding-left: 25.52px;
}

.bet-button{
    padding: 10px 32px;
    background-color: transparent;
    font-family: Raleway;
    font-size: 22px;
    line-height: 28px;
    /* word-spacing: .9em; */
    text-transform: uppercase;
    color: currentColor;
    border: 1px solid #FFF;
}

.lots {
    padding: 180px 24px 0;
    
}

.lots-heading {
    padding-left: 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    font-style: normal;
}

.lots__card-list {
    padding: 27px 0 0;
    display: flex;
    justify-items: center;
    gap: 25px;
}

.lots__card-list-item {
    list-style: none;
    width: 334px;
    min-height: 500px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 51px 40px 40px;
    height: 100%;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFF;
    z-index: 1;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 120%; /* 24px */
    /* text-decoration: none; */
    color: #fff;
    z-index: 1;
}