/* место для вашего кода */

.header {
    padding: 93px 24px 0 24px;
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    justify-content: start;
    align-items: center;
    max-width: 1100px;
    padding-bottom: 96px;
}

.header__menu {
    padding-left: 26px;
}

.header__menu-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__menu-item {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.address__menu-link-underline-no {
    text-decoration: none;
}

.header__menu-item-active {
    text-underline-offset: 4px;
}

.header__menu-link {
    display: flex;
    flex-direction: column;
}

.header__logo {
    display: flex;
}

.header__logo-image {
    max-width: 148px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.18px;
    text-underline-offset: 4px;
    min-width: 240px;
    padding-right: 26px;
    
}

.header__address {
    margin-left: 185px;
}

.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: #000;
}

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.cover__title {
    padding-bottom: 135px;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: .3em;
    line-height: 1.15;
    color: #fff;
    text-transform: uppercase;
    z-index: 1;
}

.letter-spacing_additional {
    letter-spacing: .6em;
}

.letter-spacing_non {
    letter-spacing: 0;
}

.aligned-text {
    display: block;
    line-height: 1;
    padding-top: 20px;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: end;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 79px;
    color: #fff;
    z-index: 1;
}

.cover__description-text {
    font-size: 22px;
    line-height: 28px;
    word-spacing: .85em;
    text-transform: uppercase;
    padding-left: 25.52px;
}

.bet-button{
    padding: 10px 32px;
    background-color: transparent;
    font-family: Raleway, Arial, Helvetica, Verdana, sans-serif;
    font-size: 22px;
    line-height: 28px;
    /* word-spacing: .9em; */
    text-transform: uppercase;
    color: currentColor;
    border: 1px solid #FFF;
}

.lots {
    padding: 180px 24px 0;
    
}

.lots-heading {
    padding-left: 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
}

.lots__card-list {
    padding: 27px 0 30px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.lots__card-list-item {
    list-style: none;
    width: 334px;
    min-height: 563px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 51px 40px 48px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFF;
    z-index: 1;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;  /*120%; */
    color: #fff;
    z-index: 1;
}

.lots__look-more-link {
    padding-left: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-underline-offset: 4px;
}

.about {
    display: flex;
    max-width: 100%;
    padding: 148px 24px 164px;
    background-color: #fff;
}

.about__column {
    padding: 33px 0 0 48px;
    display: grid;
    grid-template-columns: 310px 1fr;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #000;
}
.about__logo-image {
    max-width: 148px;
}

.about__title {
    padding-top: 100px;
    display: flex;
    grid-column: 2/2;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #000;
}

.about__text {
    display: flex;
    grid-column: 2/2;
    width: 688px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    padding: 8px 0 16px;
}

.footer {
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1100px;
    
}

.footer__address {
    display: flex;
    padding: 0 50px;
}

.footer__menu {
    display: flex;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.footer__menu-list {
    padding-left: 27px;
    list-style: none;
}

.footer__social-list-item {
    margin-left: 160px;
    display: inline-flex;
    gap: 48px;
}

.footer__social-link {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 48px;
    border-radius: 50%;
    list-style: none;
    
}

.footer__social-link-youtube {
    background-image: url(../images/yt.svg);
}

.footer__social-link-vk {
    background-image: url(../images/vk.svg);
}

.footer__social-link-pinterest {
    background-image: url(../images/pinterest.svg);
}

.footer__social-icon {
    display: block;
    width: 48px;
    height: 48px;
    outline: none;
    text-decoration: none;
    touch-action: manipulation;
}
